process.container = 'vntasis/stan'
docker.enabled = true

manifest {
	author          = 'Vasilis F. Ntasis'
	homePage        = 'https://github.com/vntasis/stan-nf'
	description     = 'Nextflow pipeline for performing statistical analysis with Stan'
	mainScript      = 'main.nf'
	version         = '0.2.0'
}
