/*
==================================================================
                   Stan-NF Default configuration
==================================================================
*/


/*
 * Default parameters for the pipeline
 */

params {
	data               = "$launchDir/data/*.json"
	dataExportScript   = null
	model              = "$launchDir/models/*.stan"
	outdir             = "$launchDir/results"
	tracedir           = "${params.outdir}/pipeline_info"
	fittedParams       = ''
	cmdStanHome        = "/home/docker/cmdstan-2.28.0"
	steps              = 'build-model,sample,diagnose'
	multithreading     = false
	threads            = 2
	chains             = 1
	seed               = 1234
	seedToGenQuan      = false
	numSamples         = 1000
	numWarmup          = 1000
	buildModelParams   = ''
	sampleParams       = 'adapt delta=0.8 algorithm=hmc engine=nuts max_depth=10'
	summaryParams      = '-s 3'
	help               = false
}


// Tracing
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
	enabled = true
	file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
	enabled = true
	file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
	enabled = true
	file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}


// Container information
process.container = 'vntasis/stan'
docker.enabled = true

// Pipeline information
manifest {
	author          = 'Vasilis F. Ntasis'
	homePage        = 'https://github.com/vntasis/stan-nf'
	description     = 'Nextflow pipeline for performing statistical analysis with Stan'
	mainScript      = 'main.nf'
	nextflowVersion = '>=21.10.6'
	version         = '0.2.0'
}
