process.container = 'vntasis/stan'
docker.enabled = true

profiles {
	test {
		params {
			data       = "$projectDir/examples/data/*.json"
			model      = "$projectDir/examples/models/*.stan"
			steps      = 'build-model,sample,diagnose,generate-quantities'
			chains     = 2
			numSamples = 2000
		}
	}
}

manifest {
	author          = 'Vasilis F. Ntasis'
	homePage        = 'https://github.com/vntasis/stan-nf'
	description     = 'Nextflow pipeline for performing statistical analysis with Stan'
	mainScript      = 'main.nf'
	version         = '0.2.0'
}
